<html>
<head>
    <title>New Silo - Search</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap-ui-datetime-picker/dist/datetime-picker.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="dist/sisolr.js" charset="utf-8"></script>
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="images/logo2-icon.png" type="image/png">
		<link href="dist/extendstyle.css" rel="stylesheet" type="text/css">
</head>

<body class="body" data-ng-app="Sisolr" data-ng-controller="search as ctrl">
    <div class="navbar navbar-inverse" style="margin-bottom:0px">
        <div class="container-fluisd">
            <div class="navbar-header">
                <a href="home.html" class="navbar-brand">
                    <img height="20" alt="Brand" src="images/logo2-icon-white.png">
                </a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="home.html"><b>HOME</b></a></li>
                    <li class="active"><a href="search.html"><b>SEARCH</b></a></li>
                    <li><a href="analisys.html"><b>ANALYSIS</b></a></li>
                </ul>
            </div>
        </div>
    </div>

    <!--Main Page-->
    <div class="section">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-12">
              <h1 class="text-center text-danger"><i class="fa fa-star fa-fw"></i>S I L O</h1>
          </div>
            <div class="col-md-offset-3 col-md-6">
              <form role="form" data-ng-submit="search()">
                  <div class="form-group">
                      <!--Input Start Date And End Date-->
                      <div class="input-group">
                        <input type="text" class="form-control" datetime-picker="MM/dd/yyyy HH:mm" data-ng-model="startDate" is-open="ctrl.open.date3" />
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="ctrl.openCalendar($event, 'date3')"><i class="fa fa-calendar" style="font-size:25px"></i></button>
                        </span>
                        &nbsp;
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="ctrl.openCalendar($event, 'date4')"><i class="fa fa-calendar" style="font-size:25px"></i></button>
                        </span>
                        <input type="text" class="form-control" datetime-picker="MM/dd/yyyy HH:mm" data-ng-model="endDate" is-open="ctrl.open.date4" />
                      </div>
                      <!--Input Form (Hostname, Saverity, Messages, User, And Address)-->
                      <p>
                        <div class="row">
                          <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="Saverity" data-ng-model="formSaverity">
                          </div>
                          <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="Hostname" data-ng-model="formHostname">
                          </div>
                          <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="Address" data-ng-model="formAddress">
                          </div>
                        </div>
                      </p>
                      <p>
                        <div class="row text-center">
                          <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="User" data-ng-model="formUser">
                          </div>
                          <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Messages" data-ng-model="formMsg">
                          </div>
                        </div>
                      </p>
                      <!--[END]Input Form (Hostname, Saverity, Messages, User, And Address)-->
                      <!--Button Search-->
                      <p>
                        <div class="input-group">
                                <button class="btn btn-danger" type="submit">Search</button>
                        </div>
                      </p>
                  </div>

              </form>
            </div>
        </div>
      </div>
    </div>
   <!--[END] Main Page-->
   <div class="container" style="width:auto">
     <!--Table result query-->
     <div class="col-md-12">
         <div class="row">
             <div style="text-align: center;">
                 <ul class="pagination">
                     <li data-ng-class="{'disabled': pageLevel === 0}">
                         <a href="#" data-ng-click="prev()">Prev</a>
                     </li>
                     <li data-ng-repeat="line in paging track by $index" data-ng-class="{'active': line === currentPage}">
                         <a href="#" data-ng-click="goToPage(line)">{{line}}</a>
                     </li>
                     <li data-ng-class="{'disabled': currentNext < 2001}">
                         <a href="#" data-ng-click="next()">Next</a>
                     </li>
                 </ul>
             </div>
             <table class="table table-condensed table-striped table-bordered" style="font-size:10px">
                 <thead>
                     <tr>
                         <th class="header-table-red" width="8%">Time</th>
                         <th class="header-table-red" width="5%">Saverity</th>
                         <th class="header-table-red" width="7%">Hostname</th>
                         <th class="header-table-red" width="7%">Address</th>
                         <th class="header-table-red" width="10%">Program Name</th>
                         <th class="header-table-red" width=auto>Message</th>
                     </tr>
                 </thead>
                 <tbody>
                     <tr data-ng-repeat="line in data.response.docs track by $index">
                         <td>{{formatTgl(line.timegenerated)}}</td>
                         <td style="text-align:center"><span class="label" data-ng-class="{'label-default': line['syslogpriority-text'] === 'debug', 'label-info': line['syslogpriority-text'] === 'info',
                           'label-warning': line['syslogpriority-text'] === 'warning' || line['syslogpriority-text'] === 'notice',
                           'label-danger': line['syslogpriority-text'] === 'err' || line['syslogpriority-text'] === 'crit'}">{{line['syslogpriority-text'].toUpperCase()}}</span></td>
                         <td>{{line.hostname}}</td>
                         <td>{{line['fromhost-ip']}}</td>
                         <td>{{line.programname}}</td>
                         <td style="padding:2px">{{line.msg}}</td>
                     </tr>
                 </tbody>
             </table>
             <div style="text-align: center;">
                 <ul class="pagination">
                     <li data-ng-class="{'disabled': pageLevel === 0}">
                         <a href="#" data-ng-click="prev()">Prev</a>
                     </li>
                     <li data-ng-repeat="line in paging track by $index" data-ng-class="{'active': line === currentPage}">
                         <a href="#" data-ng-click="goToPage(line)">{{line}}</a>
                     </li>
                     <li data-ng-class="{'disabled': currentNext < 2001}">
                         <a href="#" data-ng-click="next()">Next</a>
                     </li>
                 </ul>
             </div>
         </div>
     </div>
     <!--[End] Table result query-->
   </div>
   <!--FOOTER-->
    <div class="container-fluid bg-4">
      <div class="row text-center">
        <div class="col-md-12">
          <br>
          <a href="https://plus.google.com/u/1/101074421020102713192" type="button" class="btn btn-danger" name="gmail">
            <span class="glyphicon glyphicon-envelope">&nbsp;Google</span>
          </a>
          <a href="https://bitbucket.org/cincun/" type="button" class="btn btn-danger" name="bitbucket">
            <span class="glyphicon glyphicon-hdd">&nbsp;Bitbucket</span>
          </a>
          <a href="https://www.instagram.com/yasinmkarya/" type="button" class="btn btn-danger" name="instagram">
            <span class="glyphicon glyphicon-camera">&nbsp;Instagram</span>
          </a>
          <a href="https://www.linkedin.com/in/yasin-manganugrahana-k-110b16a1?trk=nav_responsive_tab_profile_pic" type="button" class="btn btn-danger" name="linkeldin">
            <span class="glyphicon glyphicon-user">&nbsp;Linkeldin</span>
          </a>
        </div>
        <div class="col-md-12">
          <br>
          <h4 style="font-size:12px">Created by : @yasinmkarya</h4>
          <br>
        </div>
      </div>
    </div>
  </div>
</html>
</body>
